@import url(/assets/css/style.css);

body {
  position: relative;
  background-color: var(--branco);
  background-image: url(/assets/img/patas.svg), url(/assets/img/fundo-cima.svg);
  background-position: right top, left top;
  background-size: 8.5em, contain;
  color: var(--azul);
  min-height: 100vh;
}

.logo__cadastro {
  width: 100%;
  height: 50px;
  padding: 1.5em 0 1em 0;
}

.chamada__cadastro {
  margin: 0.5em 0;
}

.chamada__texto {
  width: 70%;
  text-align: center;
  padding-bottom: 1em;
}

.formulario {
  padding-bottom: 5em;
}

.background__esquerdo {
  background-image: url(/assets/img/fundo-lado-esquerdo.svg);
  background-repeat: no-repeat;
  background-position-y: 85%;
}

.botao {
  padding-top: 2em;
}

.botao__link {
  padding: 1.2em 2.5em;
}