.header {
  display: flex;
  align-items: center;
  height: 10vh;
  margin: 1.6em 0;
}

.header__link {
  padding: 0 0 0 2em;
}

.header__imagem {
  width: 100%;
  padding: 0.3em;
}

.header__home {
  display: flex;
  align-items: center;
  width: 100%;
}

.header__icone-principal {
  width: 80%;
  padding: 3em 0 2em 2em;
}

.header__link-principal {
  padding-right: 3em;
  text-decoration: none;
}

.header__imagemPrincipal {
  width: 1.8em;
  height: 1.8em;
}

.header__icone-usuario {
  width: 20%;
  margin-right: 1em;
  padding: 2em 0 2em 0em;
}

.header__link-usuario {
  text-decoration: none;
}

.header__imagemUsuario {
  width: 3em;
  height: 3em;
}