@import url(/assets/css/style.css);

body {
  background-image: url(/assets/img/fundo-cima.svg);
  background-position: left top;
  background-size: 352px 295px;
}

.home__titulo {
  color: var(--azul);
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  width: 55%;
  margin: 0 auto;
  margin-top: 3em;
}

.container__pet {
  background-color: #f6f6f682;
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.container__pet-foto {
  width: 30%;
  padding: 1.5em;
}

.container__pet-descricao {
  width: 40%;
  padding: 1em;
}

.pet__nome {
  color: var(--azul);
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 0.5em;
}

.pet__descricao {
  color: var(--cinza);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 0.4em;
}

.pet__contato {
  color: var(--cinza);
  font-size: 10px;
  line-height: 16px;
  background-image: url(/assets/img/mensagem.svg);
  background-repeat: no-repeat;
  padding-left: 2.5em;
}

.container__pet-local {
  padding-top: 1em;
}