@import url(/assets/css/style.css);
@import url(/assets/css/header.css);
@import url(/assets/css/footer.css);

body {
  background-color: var(--azul);
}

.chamada {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: var(--branco);
  position: relative;
}


.botao {
  margin-top: 3em;
}

.imagem__embaixo {
  background-image: url(/assets/img/fundo-footer.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 15px;
  width: 100%;
  height: 312px;
  margin-top: 3em;
}