@import url(/assets/css/style.css);

body {
  background-color: var(--azul);
  background-image: url(/assets/img/fundo-cima.svg), url(/assets/img/fundo-lado.svg);
  background-position: left top, right center;
}

.chamada {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: var(--branco);
}

.chamada__texto {
  width: 60%;
  padding: 1.5em 0;
}

.chamada__texto-tablet {
  display: none;
}

.logo__index {
  width: 100%;
  height: 50px;
  padding: 2.5em 0 1em 0;
}

.imagem__embaixo {
  background-image: url(/assets/img/fundo-footer.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-position-y: 15px;
  width: 100%;
  height: 312px;
  margin-top: 3em;
}

.botao__link {
  display: block;
  padding: 0.8em 1em;
}

@media screen and (min-width: 768px) {
  body {
    background-position-x: -2.3%, 100%;
    background-size: 529px 434px, 134px 664px;
  }

  .logo__index {
    width: 100%;
    height: 62px;
    padding: 5.5em 0 2em 0;
  }

  .chamada__titulo {
    font-size: 28px;
  }

  .chamada__texto {
    font-size: 18px;
    width: 45%;
    padding: 2em 0;
  }

  .chamada__texto-mobile {
    display: none;
  }

  .chamada__texto-tablet {
    display: block;
  }

  .botao {
    font-size: 18px;
  }

  .botao__link {
    padding: 1em 5.5em;
  }

  .imagem__embaixo {
    margin-top: 1em;
  }
}

@media screen and (min-width: 1440px) {
  body {
    background-position-x: -0.1%, 100%;
    background-size: 560px 469px, 134px 664px;
  }

  .logo__index {
    height: 64px;
    padding: 0em 0 2em 0;
  }

  .chamada__texto {
    width: 33%;
  }
}