@import url(/assets/css/header.css);
@import url(/assets/css/footer.css);
@import url(/assets/css/formulario.css);

:root {
  --azul: #3772FF;
  --verde: #36D6AD;
  --coral: #FC7071;
  --coral-botao-hover: #ff9d9e;
  --creme: #FCF0E3;
  --cinza: #737380;
  --cinza-claro: #BCBCBC;
  --cinza-claro-fundos: #F6F6F6;
  --branco: #FFFFFF;
  --fonte-principal: 'Poppins', sans-serif;
}

body {
  font-family: var(--fonte-principal);
  font-size: 18px;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.botao__link {
  width: 11em;
  border-radius: 6px;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: var(--branco);
  background-color: var(--coral);
  border: none;
}

.botao {
  padding: 1em 0;
  margin: 0 auto;

}

.botao__link:hover {
  background-color: var(--coral-botao-hover);
  cursor: pointer;
}

.chamada__titulo {
  font-size: 26px;
  font-weight: 500;
}

.chamada__texto {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  margin: 0 auto;
}

.error-validation {
  color: var(--coral);
  padding: 0.5em;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  margin-top: 6.2em;
}